{% extends "base/basic_layout.html" %}
{% block page_title %}Search{% endblock page_title %}
{%load static%}
{% block main_content %}
<a href="/view_cart" class="btn btn-dark">View Cart</a>
<form method="POST">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="SEARCH">
</form>

{% if results %}
<table>

{% for res in results %}
<tr>
   <td> {{res.Medicine_name}} </td>
    <td>{{res.vendor_selling.vendor_name}}</td>
    <td>{{res.total_quantity}}</td>
    <td>{{res.Medicine_dosage}}</td>
    <td>{{res.Medicine_price}}</td>
    <form method="POST">
    {% csrf_token %}
    <td><input type="number" name="{{res.id}}" min="1" max="{{res.total_quantity}}"></td>
    <input type="hidden" name="cart" value="{{res.id}}">
    <td><input type="submit" value="Add To Cart"></td>
    </form>
</tr>
{% endfor %}

</table>
{% endif %}
{% endblock main_content %}


