{% extends "base/basic_layout.html" %}
{% block page_title %}
User Login
{% endblock page_title %}
{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 align-center">
            <form method="POST" action="" name="USER">
                <input type="submit">
            </form>
        </div>
        <div class="col-sm-6 align-center">
            <form method="POST" action="" name="HOSPITAL">
                <input type="submit">
            </form>
        </div>
    </div>
</div>
{% endblock main_content %}